/* body {
  overflow-x: hidden;
} */

.btn-primary {
  background-color: #1abc9c;
  border: 1px solid white;
}

#top-nav {
  background-color: #2c3e50;
  height: 80px;
}
#under-nav {
  background-color: #1abc9c;
}

.card_first {
  background-color: #ba4b63;
}
.card_second {
  background-color: #1ea4b6;
}
.card_third {
  background-color: #140f0f;
}
.card_fourth {
  background-color: #1c83c1;
}
.card_fifth {
  background-color: #0e38b5;
}
.card_sixth {
  background-color: #ccb2a3;
}

#about,
#send_form {
  background-color: #1abc9c;
}

#footer_boostrap {
  color: #1abc9c;
}

#location {
  background-color: #3a546d;
}

#copyright {
  background-color: #2c3e50;
}
